*, ::after, ::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

@import 'layouts/_header';
@import 'layouts/_form';
@import 'layouts/footer';
@import 'layouts/presentation';
@import 'layouts/_menu';
@import 'base/_base';
@import 'components/_button';
@import 'utils/_keyframes';
@import 'pages/formationHub';
@import 'pages/_rea';
@import 'pages/descFormations/descFormationReaEnseignants';
@import 'pages/CreaFormation';
@import 'pages/profil';
