@keyframes apparition {
   0% {
    visibility: hidden;
    opacity: 0;
   }
    100% {
        visibility: visible;
    opacity: 1;
   }
}

@keyframes hoisting {
   0% {
    visibility: hidden;
    opacity: 0;
   }
   25% {
    transform: translateY(-50%);
    visibility: visible;
    opacity: 0.3;
   }
   50% {
    transform: translateY(-80%);
   // visibility: visible;
    opacity: 0.5;
   }
    100% {
        transform: translateY(-100%);
      //  visibility: visible;
    opacity: 1;
   }
}




@keyframes vignetHub {
    0% {
     visibility: hidden;
     opacity: 0;
    }
     100% {
         visibility: visible;
     opacity: 1;
    }
 }


 @keyframes cascade {

    0% {
        opacity: 0;
        transform: translateY(40px);
        
    }
    100% {
        transform: rotate(13deg);
        opacity: 0.9;
    }
    
 }

 @keyframes slide_in {
    100% {
        transform: translateX(0%);  
    }
    
 }

 @keyframes slide_out {

    100% {
        transform: translateX(-100%);  
    }
 }
 
 @keyframes upNdown {
    100% {
        transform: translateY(100%);    
    } 
 }
 
 @keyframes slide {
    0% {
        opacity: 0.3;
        transform: translateX(-550px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px); 
    }
 }


@keyframes opacityNSlideUpDown {
    0% {
        opacity: 0.8 ;
    } 

    50% {
        opacity: 0.4 ;
        transform: translateY(900px);
    }
    
    100% {
        opacity: 0.8 ;
        background-color: lightblue;
    }
}

@keyframes opacityNSlideDownUp {
    0% {
     opacity: 0.8 ;
   } 

    50% {
        opacity: 0.4 ;
        transform: translateY(-1100px);
        background-color: rgb(248, 19, 19);
    }
    100% {
        opacity: 0.8 ;
     
    }
}


@keyframes roll {
    0% {
     opacity: 0.5 ;
   } 

    50% {
        transform: rotateY(380deg)
    }
    100% {
        opacity: 1 ;
     
    }
}
@keyframes growing {
    0% {
     opacity: 0.5 ;
     transform: scale(1);
   } 
    100% {
        transform: scale(2);
        opacity: 1 ;
        background-color: rgb(5, 255, 255);
     
    }
}