

     .creaForm {
        
        
        margin: 100px auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
           margin: 50px 100px 50px 100px;
            padding: 150px;
            border: 5px solid royalblue;
            border-radius: 50px;



            & .input-group {
                margin: 40px;


                & label {
                    font-size: 2.5rem;
                    margin: 1.5rem;
                }
    
                & input {
                    border: 1px outset rebeccapurple;
                    outline: none;
                    font-size: 1.5rem;
                    border-radius: 20px;
                    &:focus {
                        border: 2px red solid;
                        border-radius: 10px;
                    }
    
                    // & #duration {
                        
                    // }
    
                }
    
                & input#document  {
                    //display: none;
            }
    
                & label + input.doc , label + input#video {
                    
                    border-radius: 50px;
                    font-size: 2.5rem;
                    margin: 10px;
                    padding: 20px;
                    color: rgb(0, 0, 0);
                    cursor: pointer;
                    background-color: rgb(255, 255, 255);
                    transform: scale(1);
                    transition: all .250s ease-in-out;
                    &:hover {
                        transform: scale(1.1);
                        background-color: rgb(77, 184, 255);
                        color: rgb(255, 255, 255);
    
                    }
    
                }

            }

            .button__section {
                display: flex;
                justify-content: center;
                margin: 100px auto 0;
                &--creator {
                    padding: 25px;
                    margin: 10px;
                    font-size: 3rem;
                    border-radius: 50px;
                    &:hover {
                        background-color: rgb(71, 255, 47);
                    }
                }
            }
           
        
        }
