
   
   .containerGestion {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;


    &__selection {

        &--frame {

            display: none;
            width: 70%;
            height: auto;
            margin: 20px auto;
            border-radius: 50px;
            padding: 30px;
            border: 2px solid navy;

        }

       
    }


    .overlayPutFormation {
        
        display: none;
        z-index: 1000;
         position: absolute;
         top: 30%;
          height: 110%;
          width: 100%;
          background-color: rgba(132, 131, 131, 0.3);
          animation: apparition .250s ease-in-out ;

        & .formPut {

            & h1 {
                margin: 7px 0 20px 0;
            }
            display: flex;
            position: absolute;
            flex-direction: column;
            background-color: rgba(165, 227, 252, 0.8);
            transform: translateX(-50%);
            left: 50%;
            width: 25%;
            height: auto;
            word-wrap: break-word;
            max-width: 500px;
            margin: 100px auto;
            border: 2px solid rgb(133, 131, 131);
            padding: 20px;
            animation: apparition 1s ease-in-out forwards;
            border-radius: 20px;
            & label {
                font-size: 1.2rem;
                font-weight: 600;
                margin-bottom: 5px;
                color: black;
            }
            & input {
                outline: none;
                border: 2px solid black;
                margin: 0 0 5px 5%;
                padding: 7px;
                width: 80%;
                
                border-radius: 5px;
                &:focus {
                    border: 2px solid rgb(255, 247, 0);
                }
            }
        }  
    }



    .files {

        display: none;
        border: 1px solid black;
        margin : 10px 10px;
        padding :10px;
        border-radius : 10px;
        
    }
   }



        .recoverAllFormation {

            display: flex;
            flex-wrap: wrap;
            margin: 100px;
            font-size: 1.5rem;
          //  border: 2px solid rgb(0, 110, 255);
            border-radius: 50px;
            padding: 15px;

            &__box{
                margin: 20px;
                border: 2px solid black;
                border-radius: 50px;
                padding: 20px;
                cursor: pointer;
                transform: scale(1);
                transition: all .250s ease-in-out;
                &:hover {
                    transform: scale(1.05);
                }
            }
        }



     .creaForm {
        
        margin: 100px auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 400px;
           margin: 50px 100px 50px 100px;
            border: 2px solid rgb(225, 142, 65);
            border-radius: 50px;

            
 
             .file-group {

                // display: none;
                 
                }
                
                
                & .input-group {
                    margin: 10px;


                & label {
                    font-size: 2.5rem;
                    margin: 1.5rem;
                }
    
                & input {
                    border: 1px outset rebeccapurple;
                    outline: none;
                    font-size: 1.5rem;
                    border-radius: 20px;
                    &:focus {
                        border: 2px red solid;
                        border-radius: 10px;
                    }
    
                }
    
    
                & label + input.doc , label + input#video {
                    
                    border-radius: 50px;
                    width: 80%;
                    padding: 20px;
                    cursor: pointer;
                    transform: scale(1);
                    transition: all .250s ease-in-out;
                    &:hover {
                        transform: scale(1.02);
                        background-color: rgb(77, 184, 255);
                        color: rgb(255, 255, 255);
    
                    }
    
                }

            }

           
            
            
            .displayButton {
                    
                    width: 100px;
                    height: 100px;
                    padding: 10px;
                    font-size: 3.5rem;
                    border-radius: 50px;
                    &:hover {
                        background-color: rgb(86, 167, 204);
                    }
            }

            .button__section {
                display: flex;
                justify-content: center;
                margin: 100px auto 0;
                &--creator {
                    padding: 25px;
                    margin: 10px;
                    width: 120px;
                    height: 100px;
                    font-size: 2rem;
                    border-radius: 50px;
                    &:hover {
                        background-color: rgb(79, 223, 74);
                    }
                }
               
            }
        }
