.header__index {
    background-color: yellow;
    border-bottom: 10px dashed black;
}

.input-group {
    margin: 10px;
}

.containero {
    display: flex;
    flex-direction: column;
   width: 40%;
    margin: 20% auto;
    position: absolute;
    top: 20%;
    left: 30%;

    &__offer {
        display: inline-block;
            text-align: center; 
            position: relative;
           // width: 900px;
            margin: 20px 0;
            border-radius: 20px;
            padding: 30px;
             transform: scale(1);
             transition: transform .250s ease-in-out ;
            & .pop {
                display: none;
            }
            &:hover {
                 transform: scale(1.05);
                border: 2px outset blueviolet;
                background-color: aliceblue;
                & .pop  {
                    display: block;
                    border-radius: 30px;
                    width: 40%;
                    font-size: 1.3rem;
                    background-color: rgb(255, 238, 0);
                    position: absolute;
                    padding: 10px;
                    top: -60px;
                    left: 102%;
                    animation: apparition 1s ease-in-out;
                    & p {
                        margin: 0;
                        padding: 0;
                    }
                    & span {
                        animation: wink .550s infinite alternate;
                        font-size: 1.3rem;
                        border-radius: 50px;
                        padding: 5px;
                    }
                 }
                }
            }
           

        & a {
            text-decoration: none;
            & h2 {  
                font-size: 3rem ;
                letter-spacing: .1cm;
                color: rgb(0, 0, 0);
                word-wrap: break-word;
                &::after {
                    content: "";
                    //border: 2px solid black;
                    padding: 20px;
                }
            }
        }     
}




.vignet {

    width: 350px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    font-size: 1.3rem;
    color: white;
    margin: 20px auto;
    transform: scale(1);
    line-height: 1.2cm;
    transition: all ease-in-out .250s; 

    & .pop {
        display: none;
    }

    &:hover {
        
        transform: scale(1.1);
        border: 2px solid rebeccapurple;
        background-color: rgb(190, 240, 229);
        color: rgb(0, 0, 0);
        font-size: 1.5rem;
        line-height: 1.4cm;
        cursor: pointer;

        & .pop  {

            display: block;
            border-radius: 30px;
            width: 60%;
            font-size: 1.8rem;
            font-weight: bold;
            background-color: rgb(0, 255, 234);
            position: absolute;
            line-height: 0.4cm;
            padding: 10px;
            top: -65px;
            left: 112%;
            animation: apparition 1s ease-in-out;
            & span {

                animation: wink .550s infinite alternate;
                font-size: 1.5rem;
                border-radius: 50px;
                padding: 5px;
                

            }
         }
     }
}

#cb_button {
    color: black;
    width: 100%;
    border-radius: 5px;
    margin: 0 auto;
  //  text-align: center;
    & a {
        text-decoration: none;
    }
    transition: all .250s ease;
    &:hover { 
        color: white;
    }
}


.driver_girl {

    position: absolute;
    top: 22%;
    left: 10%;
    height: 220px;
    width: 220px;
    border-radius: 50%;
    object-fit: cover;

    &--2 {
    position: absolute;
    top: 35%;
    right: 10%;
    height: 220px;
    width: 220px;
    border-radius: 50%;
    object-fit: cover;
    }

    &--3 {
    position: absolute;
    top: 70%;
    left: 20%;
    height: 220px;
    width: 220px;
    border-radius: 50%;
    object-fit: cover;
    }

    &--4 {
        position: absolute;
        top: 70%;
        right: 20%;
        height: 220px;
        width: 220px;
        border-radius: 50%;
        object-fit: cover;
    }

}

.modal-header {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 500;
}

.mainRoad {

    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}