.header__index {
    background-color: yellow;
}

.input-group {
    margin: 10px;
}

.containero {
    display: flex;
    flex-direction: row;
    width: 50%;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
    transform: translate(50%, 180%);
    position: absolute;
    top: 10%;
            }


#paymentBtn {
    margin-bottom: 15px;
    
}

.bg_formationHub {
    background-color: #f1f1f1 ;
}

.vignet {

    width: 350px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    font-size: 1.3rem;
    color: white;
    margin: 20px auto;
    transform: scale(1);
    line-height: 1.2cm;
    transition: all ease-in-out .250s; 

    & .pop {
        display: none;
    }

    &:hover {
        
        transform: scale(1.1);
        border: 2px solid rebeccapurple;
        background-color: rgb(190, 240, 229);
        color: rgb(0, 0, 0);
        font-size: 1.5rem;
        line-height: 1.4cm;
        cursor: pointer;

        & .pop  {

            display: block;
            border-radius: 30px;
            width: 60%;
            font-size: 1.8rem;
            font-weight: bold;
            background-color: rgb(0, 255, 234);
            position: absolute;
            line-height: 0.4cm;
            padding: 10px;
            top: -65px;
            left: 112%;
            animation: apparition 1s ease-in-out;
            & span {

                animation: wink .550s infinite alternate;
                font-size: 1.5rem;
                border-radius: 50px;
                padding: 5px;
                

            }
         }
     }
}

#cb_button {
    color: black;
    width: 100%;
    border-radius: 5px;
    margin: 0 auto;
  //  text-align: center;
    & a {
        text-decoration: none;
    }
    transition: all .250s ease;
    &:hover { 
        color: white;
    }
}

.pay_btn {
    color: black;
    width: 100%;
  
    border-radius: 5px;
    margin: 0 auto;
  //  text-align: center;
    & a {
        text-decoration: none;
        color: black;
    }
    transition: all .250s ease;
    &:hover { 
        color: white;
    }
}

// .bubble__pics {

    
//     &--driver_girl1 {
        
//         position: absolute;
//         top: 32%;
//         left: 10%;
//         height: 220px;
//         width: 220px;
//         border-radius: 50%;
//         object-fit: cover;
//         animation: cascade 2.5s ease-in-out 0s infinite alternate-reverse;
//     }

//     &--driver_girl2 {
//     position: absolute;
//     top: 35%;
//     right: 10%;
//     height: 220px;
//     width: 220px;
//     border-radius: 50%;
//     object-fit: cover;
//     animation: cascade 2.5s ease-in-out .600s infinite alternate-reverse;
//     }

//     &--driver_girl3 {
//     position: absolute;
//     top: 90%;
//     left: 20%;
//     height: 220px;
//     width: 220px;
//     border-radius: 50%;
//     object-fit: cover;
//     animation: cascade 2.5s ease-in-out 1.2s infinite alternate-reverse;
//     }

//     &--driver_girl4 {
//         position: absolute;
//         top: 90%;
//         right: 20%;
//         height: 220px;
//         width: 220px;
//         border-radius: 50%;
//         object-fit: cover;
//         animation: cascade 2.5s ease-in-out 1.8s infinite alternate-reverse;
//     }

//}

.modal-header {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 500;
}

.picHub {
    margin: 80px auto;
    & img {
       // margin: 0 auto;
       transform: translateX(12%);
       border-radius: 10px;
        height: 450px;
        width: 80%;
        object-fit: cover;
    }
}


.mainRoad {
    margin: 100px auto;

    & img {
        position: relative;
       
        transform: translate(20%, 0%);
        object-fit: cover;
       width: 70%;
       height: 1100px;
        border-radius: 50px;
        object-fit: cover;
    }
    &__announce {
        position: absolute;
        top: 65%;
        right: 0%;
        padding: 50px;
        width: 80%;
        color: white;
        background-color: black;
        clip-path: polygon(10% 100% , 100% 100%, 100% 0, 0 0);
        & h2 {
            font-size: 4rem;
            margin-left: 10%;
        }
    }
    &__text {
        position: absolute;
        bottom: -80%;
        left: 65%;
        padding: 15px;
        width: 30%;
        border-radius: 10px;
        background-color: aquamarine;
        word-wrap: break-word;
        font-size: 3.5rem;
    }
}
           

@media screen and (max-width: 1358px) {

    // .bubble__pics {    
    //     &--driver_girl1 {
    //         position: absolute;
    //         top: 27%;
    //         left: 10%;
    //         height: 180px;
    //         width: 180px;
    //     }

    //     &--driver_girl2 {
    //     position: absolute;
    //     top: 35%;
    //     right: 10%;
    //     height: 180px;
    //     width: 180px;
    //     }
    
    //     &--driver_girl3 {
    //     position: absolute;
    //     top: 70%;
    //     left: 20%;
    //     height: 180px;
    //     width: 180px;
    //     }
    
    //     &--driver_girl4 {
    //         position: absolute;
    //         top: 70%;
    //         right: 20%;
    //         height: 180px;
    //         width: 180px;  
    //     }
    // }

    .vignet {
        width: 250px;  
         }
}


@media screen and (max-width: 1110px) { 


    // .bubble__pics {
          
    //     &--driver_girl1 {
    //         position: absolute;
    //         top: 27%;
    //         left: 10%;
    //         height: 180px;
    //         width: 180px;
    //     }
    
    //     &--driver_girl2 {
    //         position: absolute;
    //     top: 35%;
    //     right: 10%;
    //     height: 180px;
    //     width: 180px;
    //     }
    
    //     &--driver_girl3 {
    //         position: absolute;
    //     top: 55%;
    //     left: 20%;
    //     height: 180px;
    //     width: 180px;
    //     }
    
    //     &--driver_girl4 {

    //         position: absolute;
    //         top: 55%;
    //         right: 20%;
    //         height: 180px;
    //         width: 180px;
    //     }
    // }


    .vignet {
        width: 250px;  
         }
    

}


@media screen and (max-width: 780px) { 

    // .bubble__pics {
      

    //     &--driver_girl1 { 

    //         position: absolute;
    //         top: 27%;
    //         left: 10%;
    //         height: 140px;
    //         width: 140px;
    //     }

    //     &--driver_girl2 {
    //         position: absolute;
    //     top: 39%;
    //     right: 10%;
    //     height: 140px;
    //     width: 140px;
    //     }

    //     &--driver_girl3 {
    //         position: absolute;
    //     top: 55%;
    //     left: 20%;
    //     height: 140px;
    //     width: 140px;
    //     }

    //     &--driver_girl4 {
    //         position: absolute;
    //         top: 55%;
    //         right: 20%;
    //         height: 140px;
    //         width: 140px;
    //     }
    // }

    .containero {
        display: flex;
        flex-direction: column;
       width: 40%;
       max-height: 30px ;
        margin: 20% auto;
        position: absolute;
        
    
                }


    .vignet {

        &:hover {
            
            transform: scale(1.1);
            border: 2px solid rebeccapurple;
            background-color: rgb(190, 240, 229);
            width: 190px;
            color: rgb(0, 0, 0);
            font-size: 1.5rem;
            line-height: 1.4cm;
            cursor: pointer;
    
            & .pop  {
                width: 40%;
             }
         }
    }  
}

@media screen and (max-width: 650px) { 

    // .bubble__pics {


    //     &--driver_girl1 {
    //         position: absolute;
    //         top: 39%;
    //         left: 10%;
    //         height: 100px;
    //         width: 100px;
    //     }

    //     &--driver_girl2 {
    //         position: absolute;
    //     top: 35%;
    //     right: 10%;
    //     height: 100px;
    //     width: 100px;
    //     }

    //     &--driver_girl3 {
    //         position: absolute;
    //     top: 55%;
    //     left: 20%;
    //     height: 100px;
    //     width: 100px;
    //     }

    //     &--driver_girl4 {
    //         position: absolute;
    //         top: 55%;
    //         right: 20%;
    //         height: 100px;
    //         width: 100px;
    //     }
    // }
}



@media screen and (max-width: 450px) { 


    // .bubble__pics {
    //     display: none;


    //     &--driver_girl1 {
    //         position: absolute;
    //         top: 58%;
    //         left: 10%;
    //         height: 100px;
    //         width: 100px;
    //     }

    //     &--driver_girl2 {
            
    //         position: absolute;
    //     top: 59%;
    //     right: 10%;
    //     height: 100px;
    //     width: 100px;
    //     }

    //     &--driver_girl3 {
           
    //     top: 69%;
    //     left: 20%;
    //     height: 100px;
    //     width: 100px;
    //     }

    //     &--driver_girl4 {
            
    //         top: 69%;
    //         right: 20%;
    //         height: 100px;
    //         width: 100px;
    //     }
    // }

    .containero {
        display: flex;
        flex-direction: column;
        justify-content:start;
        align-items: center;
       width: 40%;
        margin: 20% auto;
       
       max-height: 20px;
    
                }


    .vignet {

        &:hover {
            
            transform: scale(1.1);
            border: 2px solid rebeccapurple;
            background-color: rgb(190, 240, 229);
            color: rgb(0, 0, 0);
            font-size: 1.5rem;
            line-height: 1.4cm;
            cursor: pointer;
    
            & .pop  {
                width: 40%;
             }
         }
    }  
}


// width: 260px;
