.back_arrow img {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 40px;
    width: 40px;
    transform: scale(1);
    transition: transform .250s ease-in-out ;
    &:hover {
        transform: scale(1.1);
    }
}

header {
    background-color: #b6f1f1;
}

.intro {
    display: flex;
    justify-content: space-around;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    padding: 20px;
     & .logo-rea {
        border-radius: 50%;
        height: 120px;
        width: 120px;    
    }

    &.announcement h1, h2 {
        text-align: center;
        margin-top: 15px;
        font-size: 2.5rem;
    }
}


.profil {
  & a {
    color: black;
    text-decoration: none;
  }
  &:hover {
    & a {
        color: white;
    }
}
}


#exploitants {

    text-align: center;
    margin: 0 auto;
    padding: 50px;

}

#formationX {

    text-align: center;
    margin: 0 auto;
    padding: 50px;

}

#enseignants {

    text-align: center;
    margin: 0 auto;
    padding: 50px;

}

.timer {
    padding: 15px;
    margin: 15px;
    width: 10%;
    border-radius: 10px;
    font-size: 2rem;
    background-color: aqua;
    text-align: center;
    color: rgb(0, 0, 0);
}