
.profil__intro {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    display: flex;
    background-color: burlywood;
    flex-direction: row;
    justify-content: space-evenly;
& img, h1 {
    margin: 20px;
}
& h1 {
    color: white;
    font-size: 5rem;
}
}


    .profil__management {

        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }

    .profil__button {
        display: flex;
        justify-content: center;
    }


.profil__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
  //  background-image: linear-gradient(40deg, rgb(207, 199, 199), white, rgb(207, 199, 199));
    font-size: 1.5rem;
    
    
        & .modification {
            &:hover {
                background-color: rgb(0, 195, 255);
            }
        }
        & .suppression {
            &:hover {
                background-color: red;
            }
    }
}

.profil__informations {
    padding: 50px;
    font-family: 'Cinzel Decorative', Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 2.5rem;
    color: black;
    
    & h3 {
        margin: 15px;
    }
}

.Profil__barStatus { 
     display: flex;
         flex-direction: column;
         justify-content: space-between;
         
         &--barProgression {
           // padding: 0px;
            margin: 100px;
             
            & div {
            
                margin: 20px;
                padding: 15px 20px;
                border: 2px solid black;
                border-radius: 50px;
               }
         } 
            &--infoFinancements {
              //  padding: 0px;
                margin: 100px;      
    }

}


.formationContainerPanel {
        padding: 20px;
        background-color: rgb(251, 255, 0);
        border-radius: 20px;
        font-family: 'Oswald', Arial, Helvetica, sans-serif;
        font-weight: bolder;
        font-size: 0.5rem;
        color: black;
        cursor: pointer;
        transition: all 0.275s ease-in;
        &:hover{
            transform: rotate(2deg);
            background-color: rgb(0, 0, 0);
            color: aliceblue;
        &--access {
            display: none;
        };
    }
    &--access {
       text-align: center;
       font-size: 2rem;
    }   
}

.hidden {
    display: none;
}

.itemAchat {
 padding: 3px;
 margin: 3px;
 border-radius: 10px;
 &:hover {
    color: black;
     background-color: aliceblue;
 }
}


.containerFactures {

    &__facture {
        display: flex;
        width: 90%;
        justify-content: space-evenly;
        align-items: center;
        margin: 10px auto;
        padding: 10px;
        border: 2px solid rgb(0, 174, 255);
        border-radius: 15px;
        & p {
            font-size: 2rem;
        }
        transform: scale(1);
        cursor: pointer;
        transition: all .250s ease-out;
        &:hover {
            transform: scale(1.02);
        }
    }


}

    
// .factures__body {

//     // display: flex;
//     // flex-direction: column;
//     // justify-content: space-between;
  
//     //height: 100%;
    

// }


.factures__footer {
        position: absolute;
        width: 100%;
        bottom: 0;
    }


@media screen and (max-width: 1135px) { 
    .profil__container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 50px;
        font-size: 1.5rem;
    }
}


@media screen and (max-width: 525px) { 

    .profil__intro {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 15px;
    }

    .profil__informations {
        padding: 0px;
        width: 300px;
    }
    
}