.back_arrow img {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 40px;
    width: 40px;
    transform: scale(1);
    transition: transform .250s ease-in-out ;
    &:hover {
        transform: scale(1.1);
    }
}



header {
    background-color: #f0ffff;
}

.intro {
    display: flex;
    justify-content: space-around;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    padding: 20px;
     & .logo-rea {
        border-radius: 50%;
        height: 120px;
        width: 120px;    
    }

    &.announcement h1, h2 {
        text-align: center;
        margin-top: 15px;
        font-size: 2.5rem;
    }
}

