button {
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    transition: all .250s ease-in;
    &:hover {
        background-color: rgb(0, 0, 0);
        color: white;
    }
    &.deconnexion {
     //   display: none;
    }
}

.cancelConnexionForm, .cancelInscriptionForm, .cancelUpdateButton, .cancelOder {
    &:hover {
        background-color:  red;
    }
}

 .sendUpdate {
    &:hover {
        background-color: rgb(40, 202, 40);
    }
}

.updateButton {
    &:hover {
        background-color: rgb(0, 208, 255);
    }
}