footer {
    height: 200px;
    background-color: black;

    ul {
        padding: 10px;
        & .contact {
            font-size: 1.5rem;
            padding: 10px;
            & a {
                text-decoration: none;
                color: white;
            }
        }
    }
    
}