.formations__acces {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.1rem;
    width: 50%;
    margin: 0px auto;
    transform: translateY(25%);

    & h2 {
       color: chartreuse;
        font-size: 4.5rem;
        margin: 50px auto;
    }

    &--button {
        padding: 14px;
        border-radius: 15px;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
       // font-size: 3rem;
       // font-weight: bold;
        &:hover {
            background-color: rgb(255, 56, 42);
            color: rgb(255, 255, 255);
            & a {
                text-decoration: none;  
            color: rgb(255, 255, 255);
                
            }

        }
        & a {
            text-decoration: none;  
             font-size: 1.8rem;  
             color: rgb(255, 255, 255);  
        }
    }


}

.sample {
    text-align: center; 
    margin: 50px;
    font-style: italic;
}

.start {
    animation: start 5.5s ease-out 0 forwards;
}


.carousel {
    width: 100%;
    height: 400px;
    overflow: hidden;
  }
  
  .carousel-slide {
    float: left;
    width: 100%;
    height: 400px;
  }
  
  .carousel-slide img {
    object-fit: cover;
    width: 100%;
    height: 900px;
  }

  .animHome {
    z-index: -1000;
    position: absolute;
    top: 600px;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    height: 100vh;
    width: 100%;

    &__a {
        position: relative;
        top: 10%;
        left: -100px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        animation: opacityNSlideUpDown 5s ease-in-out 0s infinite alternate-reverse forwards;
        background-color: #f02954;
    }

    &__b {
            position: relative;
            top: 70%;
            left: -50px;
            width: 40%;
            height: 40%;
            animation: apparition 3s ease-in-out 0s infinite alternate-reverse forwards;
            border-radius: 50%;
            background-color: #96f029;
        }
         &__c {
               position: relative;
                top: 150%;
                bottom: 20%;
                width: 200px;
                height: 200px;
                animation: opacityNSlideDownUp 5s ease-in-out 0s infinite alternate-reverse forwards;
                border-radius: 50%;
                background-color: #29cff0;
            }
    
  }


  @media screen and (max-width: 849px) {
    .textAnnounce h1 {
        position: absolute;
    bottom: -250px;
        color: #29f0d9;
    }

    .formations__acces {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        /* font-size: 1.1rem; */
        width: 30%;
        margin: 0px auto;
        transform: translateY(25%);
    }

    .formations__acces--button {
        padding: 14px;
        border-radius: 15px;
        background-color: #000;
        width: 50%;
        font-size: 10px;
        color: #fff;
    }
  }

  @media screen and (max-width: 449px) {
.textAnnounce h1 {
    position: absolute;
    bottom: -750px;
    color: #29f0d9;
}
  }