.formations__acces {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.1rem;
    width: 50%;
    margin: 0px auto;
    transform: translateY(25%);

    & h2 {
       color: chartreuse;
        font-size: 4.5rem;
        margin: 50px auto;
    }

    &--button {
        padding: 14px;
        border-radius: 15px;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
       // font-size: 3rem;
       // font-weight: bold;
        &:hover {
            background-color: rgb(255, 56, 42);
            color: rgb(255, 255, 255);
            & a {
                text-decoration: none;  
            color: rgb(255, 255, 255);
                
            }

        }
        & a {
            text-decoration: none;  
             font-size: 1.8rem;  
             color: rgb(255, 255, 255);  
        }
    }


}

.sample {
    text-align: center; 
    margin: 50px;
    font-style: italic;
}

.start {
    animation: start 5.5s ease-out 0 forwards;
}


.carousel {
    width: 100%;
    height: 400px;
    overflow: hidden;
  }
  
  .carousel-slide {
    float: left;
    width: 100%;
    height: 400px;
  }
  
  .carousel-slide img {
    object-fit: cover;
    width: 100%;
    height: 900px;
  }


  @media screen and (max-width: 849px) {
    .textAnnounce h1 {
        position: absolute;
    bottom: -250px;
        color: #29f0d9;
    }

    .formations__acces {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        /* font-size: 1.1rem; */
        width: 30%;
        margin: 0px auto;
        transform: translateY(25%);
    }

    .formations__acces--button {
        padding: 14px;
        border-radius: 15px;
        background-color: #000;
        width: 50%;
        font-size: 10px;
        color: #fff;
    }
  }

  @media screen and (max-width: 449px) {
.textAnnounce h1 {
    position: absolute;
    bottom: -750px;
    color: #29f0d9;
}
  }