@keyframes apparition {
   0% {
    visibility: hidden;
    opacity: 0;
   }
   75% {
    opacity: 0.5;
   }
    100% {
        visibility: visible;
    opacity: 1;
   }
}

@keyframes wink {
    0% {
        background-color: yellow;
    }
    50% {
        color: rgb(190, 189, 189);
    }
    100% {
        background-color: rgb(255, 0, 0);
        color: white;
    }
}