header {
    background-color: azure;
}

.intro {
    display: flex;
    justify-content: space-around;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    padding: 20px;
    & img {
        border-radius: 50%;
    }
    & nav {
        & button {
            outline: none;
            border: none;
            cursor: pointer;
            border-radius: 15px;
            padding: 10px;
            margin: 10px;
            transition: all .250s ease-in;
            &:hover {
                background-color: rgb(255, 85, 0);
                color: white;
            }
        }
    }
}